<mat-drawer-container *ngIf="isActive()" class="example-container" hasBackdrop="false">
    <mat-drawer #drawer mode="side" opened>
        <div class="p-3">
            <img class="side-logo" src="assets/logo/logo.svg" />
        </div>
        <mat-nav-list>
            <a mat-list-item [routerLink]="['/options']">Opportunities</a>
        </mat-nav-list>
        <mat-accordion>
            <mat-expansion-panel hideToggle>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Rooms
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-nav-list>
                    <a mat-list-item [routerLink]="['/rooms']">Active</a>
                    <a mat-list-item [routerLink]="['/rooms/cancel']">Cancel</a>
                    <a mat-list-item [routerLink]="['/sales-room']">Sales</a>
                </mat-nav-list>
            </mat-expansion-panel>
            <mat-expansion-panel hideToggle>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Reservation
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-nav-list>
                    <a mat-list-item [routerLink]="['/reservation']">List</a>
                    <a mat-list-item [routerLink]="['/reservation/cancel']">Cancel</a>
                    <a mat-list-item [routerLink]="['/reservation/modify']">Modify</a>
                    <a mat-list-item [routerLink]="['/reservation/log']">Log</a>
                </mat-nav-list>
            </mat-expansion-panel>
            <mat-expansion-panel hideToggle>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Errors
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-nav-list>
                    <a mat-list-item [routerLink]="['/rooms/bookerrors']">Book</a>
                    <a mat-list-item [routerLink]="['/rooms/cancelbookerrors']">Cancel Book</a>
                </mat-nav-list>
            </mat-expansion-panel>
        </mat-accordion>
        <mat-nav-list>
            <a mat-list-item [routerLink]="['/search-price']">Search Price</a>
            <a mat-list-item [routerLink]="['/hotels']">Hotels</a>
            <a mat-list-item [routerLink]="['/sign-out']">Logout</a>
        </mat-nav-list>
    </mat-drawer>
    <mat-drawer-content>
        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>

<router-outlet *ngIf="!isActive()"></router-outlet>
