<a (click)="openDialogCancel()" color="warn" title="Cancel Room">
    <mat-icon aria-hidden="false" aria-label="Cancel Room" fontIcon="close"></mat-icon>
</a>
<a (click)="openDialogEditPushPrice()" color="primary" title="Edit Push Price">
    <mat-icon aria-hidden="false" aria-label="Edit Push Price" fontIcon="attach_money"></mat-icon>
</a>
<a (click)="openDialogChangeStatus()" color="warn" title="Set Canceled">
    <mat-icon aria-hidden="false" aria-label="Set Canceled" fontIcon="cancel_schedule_send"></mat-icon>
</a>