.hotelCaption {
    text-align: center;
    font-size: 16pt;;
}
.errorMessage {
    font-size: 14pt;
    color: red;
    margin-left: 50px;
}

.btnUpdate {
    position: relative;
    top: -20px;
    left: 50px;
}