// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.
// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();
// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$medici-app-primary: mat.define-palette(mat.$indigo-palette);
$medici-app-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
// The warn palette is optional (defaults to red).
$medici-app-warn: mat.define-palette(mat.$red-palette);
// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$medici-app-theme: mat.define-light-theme(( color: ( primary: $medici-app-primary, accent: $medici-app-accent, warn: $medici-app-warn, )));
// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($medici-app-theme);

/* You can add global styles to this file, and also import other style files */

@import 'ag-grid-community/styles/ag-grid.css';
@import 'ag-grid-community/styles/ag-theme-alpine.css';
@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

img {
    max-width: 100%;
}

.example-spacer {
    flex: 1 1 auto;
}

.mdc-list {
    padding: 0 !important;
}

.mat-expansion-panel-body {
    padding: 0 !important;
}

.mat-expansion-panel-spacing {
    margin: 0 !important;
}

.mat-expansion-panel-header.mat-expanded {
    height: 48px !important;
}

.mat-expansion-panel-content {
    background-color: #555;
    span {
        color: #fff !important;
    }
}

:root {
    --mdc-list-list-item-one-line-container-height: 48px;
    --mat-card-title-text-size: 1.75rem;
}

.ag-theme-alpine,
.ag-theme-alpine-dark {
    --ag-header-background-color: #f8f8f8;
    --ag-header-foreground-color: #000;
    // --ag-secondary-foreground-color: #fff;
    --ag-font-size: 11px;
    --ag-grid-size: 4px;
    --ag-list-item-height: 10px;
    --ag-cell-horizontal-padding: calc(var(--ag-grid-size) * 1.5);
    --ag-borders: 0;
}

.mat-mdc-form-field-hint-wrapper {
    display: none;
}

.mat-expansion-panel-header {
    padding: 0 16px !important;
}

body {
    // background-color: #212f52;
}

.logo {
    max-width: 300px;
    max-height: 100px;
    margin: 0 auto;
}

.side-logo {
    max-width: 100%;
    max-height: 90px;
}

.mat-drawer-container {
    height: 100%;
}